html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

body {
  cursor: url(images/sad-fat-unicorn.png), auto;
}

header {
  background-color: #404041;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  height: 116px;
}

.header-h1 {
  color: #EB3223;
  font-weight: 700;
  margin: 0;
}

.header-h1-span {
  color: #E6E7E8;
  font-weight: 300;
}

.all-inside {
  width: 629px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-content {
  padding-top: 30px;
}

input {
  width: 611px;
  font-size: 3rem;
  font-weight: 300;
  padding-left: 10px;
  color: #EB3223;
}

.guess-bttn, 
.reset {
  width: 300px;
  height: 35px;
  margin-top: 25px;
  font-size: 2rem;
  color: #FFFFFF;
  background-color: #929497;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  border-radius: 16px;
}

.guess-bttn:disabled, 
.reset:disabled, 
.level-up-bttn:disabled, 
.guess-level:disabled {
  background-color: #D0D2D3;
}

.guess-bttn:hover, 
.reset:hover, 
.guess-level:hover {
  background-color: #EB3223;
}




.guess-number {
  margin-right: 26px;
}

.last-guess, 
.low-or-high {
  margin-top: 20px;
  font-size: 2.5rem;
  color: #404041;
}

.user-guess-number {
  color: #EB3223;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 10rem;
}

.low-or-high {
  margin-top: 10px;
}

.reset, 
.guess-level {
  width: 629px;
}


h3 {
  font-weight: 300;
  font-size: 2rem;
  margin-top: 20px;
}

.styling-p {
  font-size: 2rem;
}

.high-score-placeholder, 
.high-score,
.guess-count-placeholder,
.guess-count,
.unicorn-rescued-placeholder,
.unicorn-rescued {
  font-size: 2.5rem;
  color: #404041;
  font-weight: 300;
  margin-left: 5px;
}



@media (min-width: 300px) {
 body {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
 }
 
 header {
  height: 200px;
  font-size: 6rem;
  align-items: center;
 }

 .all-inside {
   width: 100%;
 }

 input {
   width: 91%;
   font-size: 5rem;
   border: 0.5px solid #404041;
 }

 .guess-bttn,
 .reset {
   border-radius: 51px;
   width: 93%;
   height: 68px;
   font-size: 3rem;
 }

 .reset {
   margin-bottom: 30px;
 }

 .guess-number {
   margin-right: 0;
   margin-top: 45px;
 }
 
 .user-guess-number {
   font-size: 15rem;
 }

 .last-guess,
 .low-or-high,
 .high-score-placeholder, 
 .high-score,
 .guess-count-placeholder,
 .guess-count,
 .unicorn-rescued-placeholder,
 .unicorn-rescued {
  font-size: 2.6rem;
 }

}
